{% extends 'base.html' %}
{% load static %}
{% block main_content %}
{% for portfollio in portfollios %}
<section class="ftco-about img ftco-section ftco-no-pb pt-5 mt-4" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({{ portfollio.image.url }});">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                <h1 class="big">About {{portfollio.first_name}}</h1>
                <h2 class="mb-4">About Me</h2>
                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Name:</span> <a href="{% url 'portfollio-home' %}">{{portfollio.first_name}} {{portfollio.last_name}}</a></li>
                    <li class="d-flex"><span>Date of birth:</span> <a href="#">{{portfollio.birthdate}}</a></li>
                    <li class="d-flex"><span>Address:</span> <a href="#">{{portfollio.current_city}}, {{portfollio.current_country}}</a></li>
                    <li class="d-flex"><span>Zip code:</span> <a href="#">44600</a></li>
                    <li class="d-flex"><span>Email:</span> <a href = "mailto:{{ portfollio.email }}">{{portfollio.email}}</a></li>
                    <li class="d-flex"><span>Phone: </span> <a href="tel:{{portfollio.contact}}">+977-{{ portfollio.contact }}</a></li>
                </ul>
                </div>
            </div>
            <div class="counter-wrap ftco-animate d-flex mt-md-3">
            <div class="text">
            <p class="mb-4">
                <span class="number" data-number="120">0</span>
                <span>Project complete</span>
            </p>
            <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
            </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endfor %}
{% endblock main_content %}